---
- name: Check the hosts
  setup:
  delegate_to: "{{ host }}"
  with_items: "{{ groups['gluster'] }}"
  loop_control:
    loop_var: host
  when: "'gluster' in groups"

- name: Set Engine public key as authorized key without validating the TLS/SSL certificates
  authorized_key:
    user: root
    state: present
    key: https://{{ FQDN }}/ovirt-engine/services/pki-resource?resource=engine-certificate&format=OPENSSH-PUBKEY
    validate_certs: False
  delegate_to: "{{ host }}"
  with_items: "{{ groups['gluster'] }}"
  loop_control:
    loop_var: host
  when: "'gluster' in groups"

- name: Add additional gluster hosts to engine
  ovirt_host:
    cluster: "{{ CLUSTER }}"
    name: "{{ host }}"
    address: "{{ host }}"
    state: present
    public_key: true
    auth: "{{ ovirt_auth }}"
  with_items: "{{ groups['gluster'] }}"
  loop_control:
    loop_var: host
  when: "'gluster' in groups"
