config.log
config.status
configure
install-sh
missing
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.rpath
config.sub
ABOUT-NLS
py-compile
ln-sr
tmp.*
*.pyc
*.pyo
*~
*.spec
*.swp
*.tmp
.cache
.bundeled
target
check
src/bin/hosted-engine
src/ovirt_hosted_engine_setup/config.py
src/vdsm_hooks/hostedengine.py
ovirt-hosted-engine-setup-*.tar.gz
src/vdsm_hooks/50_hostedengine
*.iml
*.idea
intl
m4/extern-inline.m4
