[email]
smtp-server = {{ SMTP_SERVER }}
smtp-port = {{ SMTP_PORT }}
source-email = {{ SOURCE_EMAIL }}
destination-emails = {{ DEST_EMAIL }}

[notify]
state_transition = maintenance|start|stop|migrate|up|down
