[environment:default]
OVEHOSTED_CORE/screenProceed=bool:True
OVEHOSTED_CORE/deployProceed=bool:True
OVEHOSTED_CORE/confirmSettings=bool:True
OVEHOSTED_NETWORK/fqdn=str:{{ FQDN }}
OVEHOSTED_NETWORK/bridgeName=str:{{ BRIDGE }}
OVEHOSTED_NETWORK/firewallManager=str:iptables
OVEHOSTED_NETWORK/gateway=str:{{ GATEWAY }}
{# TODO: FIX #}
OVEHOSTED_ENGINE/clusterName=str:Default
{# TODO: FIX #}
OVEHOSTED_STORAGE/storageDatacenterName=str:hosted_datacenter
OVEHOSTED_STORAGE/domainType=str:{{ DOMAIN_TYPE }}
{# TODO: FIX #}
OVEHOSTED_STORAGE/connectionUUID=str:e29cf818-5ee5-46e1-85c1-8aeefa33e95d
OVEHOSTED_STORAGE/LunID={{ 'str' if LUN_ID else 'none' }}:{{ LUN_ID if LUN_ID else 'None' }}
OVEHOSTED_STORAGE/imgSizeGB=str:{{ DISK_SIZE }}
OVEHOSTED_STORAGE/mntOptions={{ 'str' if MOUNT_OPTIONS else 'none' }}:{{ MOUNT_OPTIONS if MOUNT_OPTIONS else 'None' }}
OVEHOSTED_STORAGE/iSCSIPortalIPAddress={{ 'str' if ISCSI_IP_ADDR else 'none' }}:{{ ISCSI_IP_ADDR if ISCSI_IP_ADDR else 'None' }}
OVEHOSTED_STORAGE/metadataVolumeUUID=str:{{ he_metadata_disk_details.disk.image_id }}
OVEHOSTED_STORAGE/sdUUID=str:{{ storage_domain_details.ansible_facts.ovirt_storage_domains[0].id }}
OVEHOSTED_STORAGE/iSCSITargetName={{ 'str' if ISCSI_TARGET else 'none' }}:{{ ISCSI_TARGET if ISCSI_TARGET else 'None' }}
OVEHOSTED_STORAGE/metadataImageUUID=str:{{ he_metadata_disk_details.disk.id }}
OVEHOSTED_STORAGE/lockspaceVolumeUUID=str:{{ he_sanlock_disk_details.disk.image_id }}
OVEHOSTED_STORAGE/iSCSIPortalPort={{ 'str' if ISCSI_PORT else 'none' }}:{{ ISCSI_PORT if ISCSI_PORT else 'None' }}
OVEHOSTED_STORAGE/imgUUID=str:{{ he_virtio_disk_details.disk.id }}
OVEHOSTED_STORAGE/confImageUUID=str:{{ he_conf_disk_details.disk.id }}
OVEHOSTED_STORAGE/spUUID=str:00000000-0000-0000-0000-000000000000
OVEHOSTED_STORAGE/lockspaceImageUUID=str:{{ he_sanlock_disk_details.disk.id }}
{# TODO: FIX #}
OVEHOSTED_ENGINE/enableHcGlusterService=none:None
OVEHOSTED_STORAGE/storageDomainName=str:{{ STORAGE_DOMAIN_NAME }}
OVEHOSTED_STORAGE/iSCSIPortal={{ 'str' if ISCSI_TPGT else 'none' }}:{{ ISCSI_TPGT if ISCSI_TPGT else 'None' }}
OVEHOSTED_STORAGE/volUUID=str:{{ he_virtio_disk_details.disk.image_id }}
{# TODO: FIX #}
OVEHOSTED_STORAGE/vgUUID=none:None
OVEHOSTED_STORAGE/confVolUUID=str:{{ he_conf_disk_details.disk.image_id }}
OVEHOSTED_STORAGE/storageDomainConnection=str:{{ STORAGE_DOMAIN_CONNECTION }}
OVEHOSTED_STORAGE/iSCSIPortalUser={{ 'str' if ISCSI_USERNAME else 'none' }}:{{ ISCSI_USERNAME if ISCSI_USERNAME else 'None' }}
{# TODO: fix it #}
OVEHOSTED_VDSM/consoleType=str:vnc
OVEHOSTED_VM/vmMemSizeMB=int:{{ MEM_SIZE }}
OVEHOSTED_VM/vmUUID=str:{{ he_vm_details.vm.id }}
OVEHOSTED_VM/vmMACAddr=str:{{ VM_MAC_ADDR }}
OVEHOSTED_VM/emulatedMachine=str:{{ EMULATED_MACHINE }}
OVEHOSTED_VM/vmVCpus=str:{{ VCPUS }}
OVEHOSTED_VM/ovfArchive=str:{{ APPLIANCE_OVA }}
OVEHOSTED_VM/vmCDRom=none:None
OVEHOSTED_VM/automateVMShutdown=bool:True
OVEHOSTED_VM/cloudInitISO=str:generate
OVEHOSTED_VM/cloudinitInstanceDomainName={{ 'str' if CLOUD_INIT_DOMAIN_NAME else 'none' }}:{{ CLOUD_INIT_DOMAIN_NAME if CLOUD_INIT_DOMAIN_NAME else 'None' }}
OVEHOSTED_VM/cloudinitInstanceHostName={{ 'str' if CLOUD_INIT_HOST_NAME else 'none' }}:{{ CLOUD_INIT_HOST_NAME if CLOUD_INIT_HOST_NAME else 'None' }}
OVEHOSTED_VM/rootSshPubkey={{ 'str' if ROOT_SSH_PUBKEY else 'none' }}:{{ ROOT_SSH_PUBKEY if ROOT_SSH_PUBKEY else 'None' }}
OVEHOSTED_VM/cloudinitExecuteEngineSetup=bool:True
OVEHOSTED_VM/cloudinitVMStaticCIDR=str:{{ VM_IP_ADDR }}
OVEHOSTED_VM/cloudinitVMTZ={{ 'str' if TIME_ZONE else 'none' }}:{{ TIME_ZONE if TIME_ZONE else 'None' }}
OVEHOSTED_VM/rootSshAccess=str:yes
OVEHOSTED_VM/cloudinitVMETCHOSTS=bool:{{ VM_ETC_HOSTS }}
OVEHOSTED_VM/cloudinitVMDNS={{ 'str' if DNS_ADDR else 'none' }}:{{ DNS_ADDR if DNS_ADDR else 'None' }}
OVEHOSTED_NOTIF/smtpPort=str:{{ SMTP_PORT }}
OVEHOSTED_NOTIF/smtpServer=str:{{ SMTP_SERVER }}
OVEHOSTED_NOTIF/sourceEmail=str:{{ SOURCE_EMAIL }}
OVEHOSTED_NOTIF/destEmail=str:{{ DEST_EMAIL }}
