# TODO: make everything parametric
[environment:default]
OVEHOSTED_CORE/screenProceed=bool:True
OVEHOSTED_CORE/deployProceed=bool:True
OVEHOSTED_CORE/confirmSettings=bool:True
OVEHOSTED_NETWORK/fqdn=str:jtokar-static.tlv.redhat.com #
OVEHOSTED_NETWORK/bridgeName=str:ovirtmgmt #
OVEHOSTED_NETWORK/firewallManager=str:iptables
OVEHOSTED_NETWORK/gateway=str:10.35.1.254 #
OVEHOSTED_ENGINE/clusterName=str:Default #
OVEHOSTED_STORAGE/storageDatacenterName=str:hosted_datacenter #
OVEHOSTED_STORAGE/domainType=str:nfs3 #
OVEHOSTED_STORAGE/connectionUUID=str:e29cf818-5ee5-46e1-85c1-8aeefa33e95d #
OVEHOSTED_STORAGE/LunID=none:None #
OVEHOSTED_STORAGE/imgSizeGB=str:50 #
OVEHOSTED_STORAGE/mntOptions=none:None #
OVEHOSTED_STORAGE/iSCSIPortalIPAddress=none:None #
OVEHOSTED_STORAGE/metadataVolumeUUID=str:4a30b4ab-af79-4737-837d-604a7319fed4 #
OVEHOSTED_STORAGE/sdUUID=str:c257dddf-6893-4b88-8435-fe74c1c1668d #
OVEHOSTED_STORAGE/iSCSITargetName=none:None #
OVEHOSTED_STORAGE/metadataImageUUID=str:f2c12f6b-4425-408f-a721-421afa9cdcef #
OVEHOSTED_STORAGE/lockspaceVolumeUUID=str:b87b90dd-d9b9-4907-b112-ea1099775801 #
OVEHOSTED_STORAGE/iSCSIPortalPort=none:None #
OVEHOSTED_STORAGE/imgUUID=str:be4e4c1c-71bb-4abf-ae40-7040f38bdc32 #
OVEHOSTED_STORAGE/confImageUUID=str:5f8a446b-7b4c-4d4a-8c84-d2e8a1eeba77 #
OVEHOSTED_STORAGE/spUUID=str:00000000-0000-0000-0000-000000000000  # TODO CHECK
OVEHOSTED_STORAGE/lockspaceImageUUID=str:c23a609c-c0f5-47d9-a399-3a133da4dd9a #
OVEHOSTED_ENGINE/enableHcGlusterService=none:None #
OVEHOSTED_STORAGE/storageDomainName=str:hosted_storage #
OVEHOSTED_STORAGE/iSCSIPortal=none:None #
OVEHOSTED_STORAGE/volUUID=str:1646d87e-682d-4e5a-98f6-4344ff2891e8 #
OVEHOSTED_STORAGE/vgUUID=none:None #
OVEHOSTED_STORAGE/confVolUUID=str:975cda65-14ad-42b9-ac70-50c88c664e61 #
OVEHOSTED_STORAGE/storageDomainConnection=str:shablul.eng.lab.tlv.redhat.com:/exports/multipass/export/images/rnd/etokar/fussa_storage/he #
OVEHOSTED_STORAGE/iSCSIPortalUser=none:None #
OVEHOSTED_VDSM/consoleType=str:vnc #
OVEHOSTED_VM/vmMemSizeMB=int:4044 #
OVEHOSTED_VM/vmUUID=str:a98d5f0f-044a-4aa8-be5a-92416dcab5af #
OVEHOSTED_VM/vmMACAddr=str:00:16:3e:4c:5d:ce #
OVEHOSTED_VM/emulatedMachine=str:pc #
OVEHOSTED_VM/consoleUUID=str:7270d958-6e42-4552-9a9d-ee099665e7b7 #
OVEHOSTED_VM/vmVCpus=str:4 #
OVEHOSTED_VM/nicUUID=str:66e56bec-9975-4ec3-ae78-297cf32c059c #
OVEHOSTED_VM/cdromUUID=str:a64e7989-6049-4596-8f38-38b21d4c229b #
OVEHOSTED_VM/ovfArchive=str:/usr/share/ovirt-engine-appliance/ovirt-engine-appliance-4.2-20170827.1.el7.centos.ova #
OVEHOSTED_VM/vmCDRom=str:/tmp/tmpnmNlWL/seed.iso #
OVEHOSTED_VM/automateVMShutdown=bool:True
OVEHOSTED_VM/cloudInitISO=str:generate
OVEHOSTED_VM/cloudinitInstanceDomainName=str:tlv.redhat.com #
OVEHOSTED_VM/cloudinitInstanceHostName=str:jtokar-static.tlv.redhat.com #
OVEHOSTED_VM/rootSshPubkey=str: #
OVEHOSTED_VM/cloudinitExecuteEngineSetup=bool:True #
OVEHOSTED_VM/cloudinitVMStaticCIDR=bool:False #
OVEHOSTED_VM/cloudinitVMTZ=str:Asia/Jerusalem #
OVEHOSTED_VM/rootSshAccess=str:yes #
OVEHOSTED_VM/cloudinitVMETCHOSTS=bool:False #
OVEHOSTED_VM/cloudinitVMDNS=bool:False #
OVEHOSTED_VDSM/spicePkiSubject=str:C=EN, L=Test, O=Test, CN=Test
OVEHOSTED_VDSM/pkiSubject=str:/C=EN/L=Test/O=Test/CN=Test
OVEHOSTED_VDSM/caSubject=str:/C=EN/L=Test/O=Test/CN=TestCA
OVEHOSTED_VDSM/cpu=str:model_Conroe #
OVEHOSTED_NOTIF/smtpPort=str:25
OVEHOSTED_NOTIF/smtpServer=str:localhost
OVEHOSTED_NOTIF/sourceEmail=str:root@localhost
OVEHOSTED_NOTIF/destEmail=str:root@localhost
