#cloud-config
# vim: syntax=yaml
disable_root: false
{% if ROOT_SSH_PUBKEY|length > 1 %}
ssh_authorized_keys:
  - {{ROOT_SSH_PUBKEY}}
{% endif %}
ssh_pwauth: True
chpasswd:
  list: |
    root:{{ APPLIANCE_PASSWORD }}
  expire: False
{% if TIME_ZONE is defined %}
timezone: {{ TIME_ZONE }}
{% endif %}
bootcmd:
  - if grep -Gq "^\s*PermitRootLogin" /etc/ssh/sshd_config; then sed -re "s/^\s*(PermitRootLogin)\s+(yes|no|without-password)/ \1 {{ ROOT_SSH_ACCESS }}/" -i.$(date -u +%Y%m%d%H%M%S) /etc/ssh/sshd_config; else echo "PermitRootLogin {{ ROOT_SSH_ACCESS }}" >> /etc/ssh/sshd_config; fi
runcmd:
  - systemctl restart sshd &
